<!-- <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var idcomments_acct = '0f1fd7e12127f59fa2d4246dc39db433';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script> -->

<!-- <script>
  var idcomments_acct = '33e090771c8a42854197a24ec4e5c7f7';
  var idcomments_post_id;
  var idcomments_post_url;
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'>
</script> -->

<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'wTBtIfWP27czGfmW52zdc5WY-gzGzoHsz',
        appKey: 'ynKnPA4iHdonQ8E8KK2RqevK'
    })
</script>