<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<!-- {% if site.comments.gitalk %} -->
<script>
    var gitalk = new Gitalk({
          clientID: 'Iv1.4b6b43d92a7b30ee',
          clientSecret: 'f0da754e2f14f13758b772fc19c933b574019a59',
          repo: 'anakinskyw.github.io}',
          owner: 'AnakinSkyW',
          admin: 'AnakinSkyW',
          id: location.pathname,      // Ensure uniqueness and length less than 50{{ page.title }}
          distractionFreeMode: 'true'  // Facebook-like distraction free mode
        })

        gitalk.render('disqus_thread')
</script>
<!-- {% endif %} -->
<!-- <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'AnakinSkyW',
    repo: 'anakinskyw.github.io',
    oauth: {
        client_id: 'Iv1.4b6b43d92a7b30ee',
        client_secret: 'f0da754e2f14f13758b772fc19c933b574019a59',
    },
});
gitment.render('gitmentContainer');
</script> -->