{% include header.html %}
<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="article">
            <div class="well">
              <h2><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h2>
              <div class="post-meta">
                <div class="post-time">
                  <i class="fa fa-calendar"></i>
                  <time>{{ page.date | date_to_string }}</time>
                </div>
                <ul>
                  {% for tag in page.tags %}
                    <li><a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="post-content">
                {{ content }}
              </div>
              {% include share.html %}
            </div>
          </div>
        </div>
        <div class="col-md-2 hidden-xs">
          {% include sidebar.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {% include comments.html %}
        </div>
      </div> 
    </div>

  </div>
  {% include footer.html %}
  <div class="bshare-custom icon-medium-plus">
    <a title="分享到QQ空间" class="bshare-qzone"></a>
    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
    <a title="分享到人人网" class="bshare-renren"></a>
    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
    <a title="分享到网易微博" class="bshare-neteasemb"></a>
    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
    <span class="BSHARE_COUNT bshare-share-count">0</span>
  </div>
  <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=5dca82c8-c9b5-4908-b463-572753966fc7&amp;pophcol=2&amp;lang=zh"></script>
  <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</div>
